body {

    padding: 10px;

}

.flex-centered {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cell {

    border: 1px solid;
    font-family: 'Patrick Hand', cursive;
    font-size: 3em;

}

#gameboard {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-color: white;
    height: 70vh;
    width: 70vh;
    margin: 2em;

}